body, html { /*Whole document styling*/
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: ivory;
}

h1 {
  text-align: center;
  letter-spacing: 15px;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
}

.anchor { /*Actually this is just my name, space it to look all clean and nice*/
  line-height: 60px;
  position: fixed;
  float: left;
  padding: 25px 46px;
  padding-top: 0;
}

.anchor a { /*make the anchor links look good too*/
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.anchor a h1 { /*make the anchor links look good too*/
  letter-spacing: 2px;
  color: #fff;
  font-weight: bold;
}

nav { /*navbar styling*/
  z-index: 9;
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul { /*navbar styling*/
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  float: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black { /*navbar styling*/
  background: #23272a;
}

nav ul li { /*navbar styling*/
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a { /*navbar styling*/
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.main-body .proj-skills { /*quick rundown section that's in front of background image*/
  text-align: left;
  background-color: ivory;
}

.name { /*styling of my name, like anchor*/
  letter-spacing: 15px;
}

.main-body .about { /*styling of about section with photo and short desc.*/
  display: flex;
  padding: 130px 50px;
  color: #000;
}

.para { /*simple paragraph styling*/
  padding-left: 40px;
  padding-right: 40px;
  float: left;
}

.main-body .about img { /*round out profile picture and make it look nice*/
  border-radius: 50%;
  height: 200px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

.main-body .about .profile-pic {
  width: 50%;
}

.main-body .about .profile-desc {
  float: left;
  padding-left: 15px;
  padding-right: 200px;
  width: 50%;
}

.para-prog { /*simple paragraph styling*/
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

a, a:visited {
  color: #f5f5f5;
}

.proj-skills {
  padding: 40px 0;
}

.main-body .about-me {  
  width: 100%;
  height: 100vh;
  background: url("../img/main-pic.jpg") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #23272a;
}

.main-body .about-me .about-text { /*simple text styling in about*/
  padding-top: 250px;
  padding-bottom: 150px;
  text-align: center;
  color: ivory;
}

.main-body .about-me .about-text .name { /*simple text styling in about*/
  margin-bottom: 0;
}

.main-body .about-me .about-text .degree { /*simple text styling in about*/
  margin-top: 0;
  margin-bottom: 5px;
}

.main-body .about-me .about-text .school { /*simple text styling in about*/
  margin-top: 0;
  margin-bottom: 0;
}

.main-body .prog-skills { /*set up the programming skills section*/
  align-items: center;
  color: #fff;
  background-color: #23272a;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 5px;
}

.main-body .proj-skills { /*set up the programming skills section*/
  align-items: center;
  color: #23272a;
  background-color: #fff;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 5px;
}

.about-me h1 {
  letter-spacing: 5px;
}

.terminal a {
  border-radius: 5px 5px;
  position: relative;
  color: #7AFB4C;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.terminal .body {
  background: black;
  color: #7AFB4C;
  padding: 15px 8px;
  margin: 0;
  overflow: auto;
  text-align: left;
  font-size: 15px;
}

.space {
  margin: 30px 200px;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0,0,0,.4)
}

.main-body .proj-skills { /*project section styling*/
  align-items: center;
  width: 100%;
  padding: 80px 0;
}

.row { /*handles 4x4 text sections/projects look*/
    display: inline-block;
    padding-bottom: 25px;
    padding: 0 200px;
}

.column { /*handles 4x4 text sections/projects look*/
    flex: 50%;
    padding-bottom: 50px;
    padding-top: 0;
}

.link-center {
  text-align: center;
}

.fa { /*flavicons styling*/
  border-radius: 50%;
  display: block;
  font-size: 4em;
  padding: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 20px 32px;
}

.fa:hover { /*flavicons styling*/
    opacity: 0.7;
}

.fa-linkedin { /*flavicons styling for linkedin*/
  background: #007bb5;
  color: ivory;
}

.fa-github {  /*flavicons styling for github*/
  background: #333;
  color: ivory;
}

.fa-reddit { /*flavicons styling for reddit*/
  background: #FF5700;
  color: ivory;
}

.fa-google-plus-circle { /*flavicons styling for google*/
  background: #db4a39;
  color: ivory;
}

.contact { /*contact section styling*/
  align-items: center;
  text-align: center;
  color: #23272a;
  width: 100%;
  padding-top: 60px;
  background: url("../img/contact-me-pic.png") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#contact-header {
  text-decoration: none;
  color: #23272a;
}

.contact-p { /*contact paragraph styling*/
  text-align: left;
  padding-bottom: 100px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer .copyright {
  position: static;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#23272a;
  color: ivory;
  text-align: center;
}

/*------------------------ Media Queries -------------------------*/

@media screen and (max-width: 1200px) {
  .main-body .about-me {  
    width: 100%;
    max-width: 100%;
    height: auto;
    background: url("../img/main-pic.jpg") repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #23272a;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .main-body .proj-skills { /*set up the programming skills section*/
    align-items: center;
    color: #fff;
    background-color: #23272a;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 5px;
  }

  nav ul {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  nav ul li { /*navbar styling*/
    display: inline-block;
    padding: 0 20px;
  }

  .main-body .about {
    display: inline-block;
  }

  .main-body .about .profile-pic {
    justify-content: center;
    width: 100%;
  }

  .main-body .about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(0);
    float: none;
  }

  .main-body .about .profile-desc {
    text-align: left;
    padding-right: 15px;
    padding-left: 0;
    width: 100%;
  }

  .main-body .about-me .about-text { /*simple text styling in about*/
    padding-top: 250px;
    padding-bottom: 150px;
    text-align: center;
    color: ivory;
  }

  .row {
    padding: 0 20px;
  }

  .anchor {
    display: none;
  }

  .terminal, .prog-skills, pre.body {
    display: none;
    opacity: 0.0;
  }

  .contact-p { /*contact paragraph styling*/
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .main-body .about-me {  
    width: 100%;
    max-width: 100%;
    height: auto;
    background: url("../img/main-pic.jpg") repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #23272a;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  nav ul {
    float: none;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .main-body .about {
    display: inline-block;
  }

  .main-body .about .profile-pic {
    justify-content: center;
    width: 100%;
  }

  .main-body .about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(0);
    float: none;
  }

  .main-body .about .profile-desc {
    text-align: left;
    padding-right: 15px;
    padding-left: 0;
    width: 100%;
  }

  .main-body .about-me .about-text { /*simple text styling in about*/
    padding-top: 250px;
    padding-bottom: 150px;
    text-align: center;
    color: ivory;
  }

  .row {
    padding: 0 20px;
  }

  .anchor {
    display: none;
  }

  nav ul li { /*navbar styling*/
    display: inline-block;
    padding: 0 20px;
  }

  .main-body .about .profile-pic {
    justify-content: center;
    width: 100%;
  }

  .main-body .about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(0);
    float: none;
  }

  .contact-p { /*contact paragraph styling*/
    display: none;
  }
}